[project]
name = "data-dev-platform"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "fastapi>=0.128.0",
    "pandas>=3.0.0",
    "pydantic>=2.12.5",
]
